*{
    color: white;
    font-family: righteous;
}
#user-tag, #submit{
    border: 1px solid #00e676;
    border-radius: 2px;
    
    color: green;
    background-color: black;
}
body {
    background-color: black;
}
#timer{
    text-align: left;
    visibility: hidden;
    width: 16%;
    color: #ff5722 ;
    position:absolute;
    right: 50%;
    top: 10vh;
    border: 1px solid #bf360c;
    border-radius: 2px;
    padding: 3px;
    font-size: 5vh;

}
#win-box{
    
    position: absolute;
    right: 40%;
    visibility: hidden;
}
#small-box{
    position: fixed;
    top: 10vw;
    left: 15%;
    width: 65%;
    height: 66vh;
    border: 1px solid #00e676;
    border-radius: 3px;
}
#start{
    color:#01579b;
    position: relative;
    top: 10vh;
    left: 10%;
    z-index: 1000;
    border: 2px solid #039be5;
    border-radius: 2px;
    display: inline-block;
    padding: 5px;

}
.obstacle-6{
    border: 2px solid blue;
    background-color: #1976d2;
    border-radius: 5px;
    width: 5%;
    height: 5vh;
    top: 5vh;
    left: 5vh;
}
.obstacle-7{
    border: 2px solid blue;
    background-color: #1976d2;
    border-radius: 5px;
    width: 5%;
    height: 5vh;
    bottom: 5vh;
    left: 5vh;

}


.obstacle{
    /* border: 1px solid blue;  */
    position: absolute;
   

}
.obstacle-1{
    margin-left: 200px;
    width: 50%;
    height: 100px;
    border-radius: 100%;
    top: 10vh;

}
.obstacle-2{
    width: 40%;
    height: 10vh;
    bottom: 20vh;
    margin-top: 30vh;
    

}
.highscores{
    padding-right: 1%;
    margin-top: 8vw;
    width: 17%;
    float:right;
}
#top-ten{
    padding-bottom: 2px;
    border-bottom: 2px solid #69f0ae ;
}
#tags{
    float: left;
 

}
#times{
    float: right;
    

}
.obstacle-3{
    
    width: 10%;
    height: 30vh;
    bottom: 20vh;
    right: 10%;
}
.obstacle-8{
    background-color: #1976d2;
    border-radius: 5px;
}
.obstacle-4{
bottom: 10vh;
height: 10vh;
width: 20vh;
right: 35vh;
}
.obstacle-5{
    right: 40%;
    bottom: 25vh;
    width: 5%;
    height: 5%;
}
#goal{
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 10vh;
    right: 5%;
    color: #039be5;
}
#user-message{
    position: absolute;
 right: 50%;
 color: #00e676;
 border: 1px solid #00e676;
 border-radius: 2px;
 padding: 3px;
}
@font-face {
    font-family: righteous, cursive;
    src: url('https://fonts.googleapis.com/css?family=Righteous');
  }
  .ERmaze1 {
    width: 20vh;
   
}

#ERmaze {
    width: 15vh;
    position: absolute;
    bottom: 15vh;
    left: 5vh;
}
