.list-group-item {
  line-height: 2.5;
}

body{
  color: green;
  background-color: black;
}

.timer{
  font-size: 60px;
  width: 15%;
  height: 10%;
  padding-left: 2%;
  margin-left: 40%;
  border: solid;
  border-color: green;
  border-width: thin;
}

.mazeDiv{
  margin-top: 2vh;
  width: 65%;
  height: 50vh;
  margin-left: 10%;
  border: solid;
  border-color: green;
  float: left;
  border-width: thin;
}

.stats{
  float: left;
  margin-top: 2vh;
  margin-left: 5vh;
  width: 15%;
  height: 50vh;
  border: solid;
  border-color: green;
  text-align: center;
  text-decoration: underline;
  border-width: thin;
}

.lives{
  /* margin-top: 2vh; */
  width: 15%;
  height: 10%;
  padding-left: 2%;
  margin-left: 40%;
}

